@tailwind base;
@tailwind components;
@tailwind utilities;

/* public/css/globals.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* Light mode (default) */
body {
    @apply bg-white text-black;
  }
  
  /* Dark mode */
  .dark body {
    @apply bg-black text-white;
  }
  /* Scrollbar styles (Light Mode) */
  body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
    @apply bg-gray-600; /* Light mode thumb */
  }
  
  body::-webkit-scrollbar-track {
    @apply bg-gray-300; /* Light mode track */
  }
  
  /* Scrollbar styles (Dark Mode) */
  .dark body::-webkit-scrollbar-thumb {
    @apply bg-white; /* Dark mode thumb */
  }
  
  .dark body::-webkit-scrollbar-track {
    @apply bg-gray-800; /* Dark mode track */
  }

.blinking-cursor {
  font-weight: bold;
  animation: blink 0.8s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typingText {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 3px solid transparent;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typingDescription {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid transparent;
  animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* styles/CustomerReviewCarousel.module.css */

.carousel-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.review-slide {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
}

.review-slide h3 {
  margin-top: 10px;
  font-weight: 600;
}

.review-slide p {
  font-size: 1.1rem;
  color: #333;
}
.blinking-underscore {
  display: inline-block;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

